/* SETTING FOR GALAXY FOLD 280 x */
*{
    box-sizing: border-box;
    padding: 0 ;
    margin:0 ;
    /* Making font size to 1rem = 10px when font size is 62.5% */
    font-size: 62.5%;
    font-family: 'Pixelify Sans', 'VT323', sans-serif;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: black;
    z-index: -999;
    position: absolute;
    /* background-image:url();
    object-fit: ; */
}

/* The style of the title and font */
h1 {
    color:white;
    background-color:black;     
    font-size: 2.5rem ;
    border-radius: 15px;
    text-transform: capitalize;
    min-height: 5rem;
    min-width: 20rem;
    /* display flex will make the text to align */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*   Padding and margin   */
    padding: 1rem;
    margin-top: 2rem;

}

h2 {
    /* padding:30px; */
}

#q-heading, #q-counter {
    margin: 1rem 0;
    font-size: 2rem;
}

#q-container {
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

#question {
    display:;
    font-size: 1.5rem;
    line-height: 0rem;
    width: 18rem;
}

#quiz-form {
    background:rgba(255,255,255,0.3);
}

.option {
    display: flex;
}

.fa-solid {
    margin-left: 10px;
}

input {
    display: none;
}

label {
    padding: 0.5rem 0;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
}

label:hover {
    background-color: black;
    border-radius: 10px;
    color:white;
}

/* Create a 'sticky' on click effect when label is clicked */
input[type="radio"]:checked + label {
    background-color: black;
    border-radius: 10px;
    color:white;
  }

#container-div {
    padding: 20px;
    display:flex;
    flex-direction: column;
    background-image: url(/asset/images/frame-ori-land-large-final.png);
    /* opacity: 0.5; */
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    max-width: 550px;
    max-height: 1080px;
    height:100%;
    width:100%;
}

/* Sets 'next question' and 'play again' buttons display to none by default */
#next-q,
#play-again,
#quit-game{
    z-index: 999;
}


#next-q, #play-again{
    display:none;
}

#play-again:hover {
    background-color: black;
    color: white;
}

#next-q:hover {
    background-color: black;
    color: white;
}

#radio-btns {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    padding:20px;
    height:200px;
}

#submit-btn, #next-q, #play-again {
    padding:6px;
    border-radius:10px;

    /* font-size:110%; */
    border:black 7px solid;
    background-color: white;
}


#submit-btn:hover {
    background-color: black;
    color: white;
}

#response {
   padding-top: 30px;
   z-index:1;
}

#quit-game {
    padding: 10px;
    border-radius: 10px;
    border: black 7px solid;
    background-color: white;
}

#quit-game:hover {
    background-color: black;
    color: white;
}

/* increases size of FontAwesome 'refresh' icon */
#refresh {
    font-size: 1.2em;
}

